{
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@/types/(.*)$",
    "^@/server/(.*)$",
    "^@/constants/(.*)$",
    "^@/schemas/(.*)$",
    "^@/config/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/images/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
